<section [ngClass]="{'target': isLast,'hidden-content':!isLast}">
  <h2><a href="#{{url}}">
    <span *ngIf="!loading">{{resourceDetails.displayName}}</span>
    <span *ngIf="loading">Loading..</span>
  </a></h2>
  <div class="content">
    <loader *ngIf="loading"></loader>
    <div *ngIf="!loading && !loadingError" class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search">
        </div>
      </div>
      <div class="col-sm-6"><pagination-controls (pageChange)="p = $event" maxSize="3"></pagination-controls></div>
    </div>
    <table *ngIf="!loading" class="table table-hover">
      <tr *ngFor="let resource of resources | search:searchText | paginate: {currentPage: p, itemsPerPage: 10}"
          [routerLink]="['/' + url,resource.id]">
        <td>{{resource.displayName}}</td>
      </tr>
    </table>
    <div *ngIf="!loading && loadingError" class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
  </div>
</section>
