<section [ngClass]="{'target': isLast,'hidden-content':!isLast}">
  <h2><a href="#{{url}}">
    <span *ngIf="!loading">{{resourceDetails.displayName}}</span>
    <span *ngIf="loading">Loading..</span>
  </a></h2>
  <div class="content">
    <loader *ngIf="loading"></loader>
    <table *ngIf="!loading" class="table table-hover">
      <tr>
        <td>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </td>
      </tr>
      <tr *ngFor="let resource of resources | paginate: {currentPage: p, itemsPerPage: 10}"
          [routerLink]="['/' + url,resource.id]">
        <td>{{resource.displayName}}</td>
      </tr>
    </table>
    <div *ngIf="!loading && loadingError" class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
  </div>
</section>
