<section [ngClass]="{'target': isLast,'hidden-content':!isLast}">
  <h2><a href="#{{url}}">
    <span *ngIf="schema">{{schema.singular | transormFieldToName}}</span>
    <span *ngIf="!schema">Loading..</span>
  </a></h2>
  <div class="content">
    <loader *ngIf="loading"></loader>
    <table *ngIf="!loading && !loadingError" class="table table-hover table-bordered">
      <tbody>
      <template ngFor let-property [ngForOf]="schema.properties">
        <tr *ngIf="!property.relativeApiEndpoint && property.propertyType != 'COMPLEX'">
          <td>{{property.name | transormFieldToName}}</td>
          <td>
            {{resource[property.fieldName]}}
          </td>
        </tr>
        <tr *ngIf="properties[property.name]">
          <td>{{property.name | transormFieldToName}}</td>
          <td>
            {{properties[property.name]}}
          </td>
        </tr>
      </template>
      </tbody>
    </table>
    <div *ngIf="!loading && loadingError" class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>

  </div>
</section>

