<section id="{{url}}">
  <h2 *ngIf="schema"><a href="#{{url}}">{{schema.singular | transormFieldToName}}</a></h2>
  <h2 *ngIf="!schema"><a href="#{{url}}">Loading...</a></h2>
  <div class="content">
    <loader *ngIf="loading"></loader>
    <tabset *ngIf="!loading && !loadingError">
      <tab *ngFor="let tab of resourceExtension.tabs" [active]="tab.active" (select)="tab.active = true"
           (deselect)="tab.active = false">
        <template tabHeading>
          <i class="glyphicon glyphicon-info"></i> {{tab.title}}
        </template>
        <div>
          <app-details *ngIf="tab.type == 'info'" [hierarchy]="hierarchy" [type]="type" [url]="url" [schema]="schema" [config]="tab"></app-details>
          <app-charts *ngIf="tab.type == 'chat'" [hierarchy]="hierarchy" [type]="type" [url]="url" [schema]="schema" [config]="tab.config"></app-charts>
        </div>
      </tab>
    </tabset>
    <div *ngIf="!loading && loadingError" class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
  </div>
</section>

