<ng2-dhis-menu [dhis2_url]="''"></ng2-dhis-menu>
<h1>
  {{title}}
</h1>
<div class="container-fluid">
  <div class="col-sm-12 accordion-wrapper">

    <accordion [closeOthers]="true" id="accordion">
      <accordion-group [isOpen]="true">
        <div accordion-heading>
          <div class="row">
            <div class="col-sm-4">
              Resources
            </div>
          </div>
        </div>
        <loader *ngIf="loading"></loader>
        <table *ngIf="!loading" class="table table-hover">
          <tr><td><pagination-controls (pageChange)="p = $event"></pagination-controls></td></tr>
          <tr *ngFor="let resource of resources | paginate: {currentPage: p, itemsPerPage: 10}" [routerLink]="['/' + resource.plural]"><td>{{resource.displayName}}</td></tr>
        </table>
      </accordion-group>
      <router-outlet>

      </router-outlet>
    </accordion>
  </div>
</div>
