<div class="col-sm-10">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/">Resource</a></li>
    <li class="breadcrumb-item" [ngClass]="{'active':true}" *ngFor="let param of params | values">
      <a href="#">
        <span *ngIf="param.indexOf('Id') > -1 && resoureIds[params[param]]">
          {{resoureIds[params[param]].name}}
        </span>
        <span *ngIf="param.indexOf('Id') == -1">
          {{params[param] | transormFieldToName}}
        </span>
      </a>
    </li>
  </ol>
</div>
<div class="col-sm-2">
  <a class="btn btn-primary" href="../..{{apiUrl}}" target="_blank">API</a>
</div>
<div class="col-sm-12">
  <article class="accordion">

    <section [ngClass]="{'target': isLast,'hidden-content':!isLast}">
      <h2><a href="#/">Resources</a></h2>
      <div class="content">
        <loader *ngIf="loading"></loader>
        <div *ngIf="!loading && !loadingError" class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search">
            </div>
          </div>
          <div class="col-sm-6">
            <pagination-controls (pageChange)="p = $event" maxSize="3"></pagination-controls>
          </div>
        </div>
        <table *ngIf="!loading && !loadingError" class="table table-hover">
          <tr *ngFor="let resource of resources |resourcePipe | search:searchText | paginate: {currentPage: p, itemsPerPage: 10}"
              [routerLink]="['/' + resource.plural]" (contextmenu)="onContextMenu($event, resource)">
            <td>{{resource.displayName}}</td>
          </tr>
        </table>
      </div>
    </section>
    <template ngFor let-param [ngForOf]="params | values">
      <list *ngIf="param.toLowerCase().indexOf('objects') > -1 && params[param].endsWith('s') && queryParams['action'] != 'edit'" [hierarchy]="params" [type]="param"></list>
      <object *ngIf="(param.indexOf('Id') > -1 && queryParams['action'] != 'add') || (param.toLowerCase().indexOf('objects') > -1 && !params[param].endsWith('s') && queryParams['action'] != 'edit')" [hierarchy]="params" [type]="param"></object>
      <add-edit  *ngIf="queryParams['action'] == 'add' && ((params | values).length - 1) == 0" [hierarchy]="params" [type]="param"></add-edit>
      <add-edit  *ngIf="queryParams['action'] == 'edit' && ((params | values).length - 1) == 1" [hierarchy]="params" [type]="param"></add-edit>
    </template>
  </article>
</div>
